@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Baloo+Bhai+2&family=Lato&family=Montserrat:wght@500&family=Mulish:wght@300&family=Nunito&family=Open+Sans&family=Oswald&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
/* font-family: 'Abhaya Libre', serif;
font-family: 'Baloo Bhai 2', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 20px;
}

.header-background{
    position: static;
    top: 0;
    overflow: visible;
    width: 100%;
    height: auto;
    min-height: 600px;
    display: block;
    white-space: normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(5, 5, 5, 0.616),rgba(0, 0, 0, 0.281)),url('./new2.jpg');
    /* background-position-y: 70px; */
    opacity: 1;
    object-fit: fill;
    -o-object-fit: fill;
}

.sticky-nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
/* ********************************************************************* */
nav{
    width: 100%;
    height: 3.5rem;
    transition: height .5s ease;
    /* background-color: rgba(245, 25, 36, 0.514); */
    background-color: rgba(178, 180, 30, 0.692);

}
.navbar-brand > img {
    max-width: 30px;    
}

.scroll-active .sticky-nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 50px rgba(201, 185, 231, 0.7);
}

.scroll-active .navbar{
    height: 3rem;
    background-color: #7ae9e9;
}

.scroll-active .nav-item .nav-link{
    color: black!important;
    font-weight:600;
    font-family: 'Nunito', sans-serif;
}
.scroll-active .nav-item .nav-link:hover{
    color: black!important;
    background-color: white;
    font-weight: 600;
}
/* *********************************************************************** */
.navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover{
    background-color: white;
    color:rgb(0, 0, 0);
    font-weight: 600;
}
@media screen and (max-width:999px) {
    .navbar{
        background-color: rgba(255, 255, 255, 0.575);
        height: 50%;
    }
    .navbar-brand > img{
        display: none;
    }
    .scroll-active .navbar{
        background-color: white;
        height: 50%;
    }
    .scroll-active .navbar{
        background-color: white;
    }
    .scroll-active .navrg .nav-link{
        color: black;
        font-weight: 500;
    }
    .scroll-active .navbar-nav .nav-item .nav-link{
        color: black!important;
        font-family: 'Nunito', sans-serif;
    }
}
.profiledropdown .dropdown-menu .dropdown-item{
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
.profiledropdown .dropdown-menu .dropdown-item:hover{
    background-color: rgba(31, 201, 201, 0.897);
}
.header-background > .header{
    position: absolute;
    text-transform: capitalize;
    font-size: 10rem;
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: 900;
    top: 20%;
    margin: 0px 0px 0px 10rem;
    opacity: 0.9;
}
