{% extends 'secure/master2.html' %}
{% load static %}
{% load cache %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />

    <style>
        .change{
            color:red;
        }
        .ch{
            background-color:whitesmoke;
        }
    </style>
{% endblock css_link %}
{% block layout %}
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">dipesh parmar</button>
    </form>
{% endblock layout %}


{% block js_link %}
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

{% endblock js_link %}